<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user,80 %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.reviews.any? %>
      <h3>reviews (<%= @user.reviews.count %>)</h3>
      <ol class="reviews">
        <% @user_reviews.each do |user_review| %>
          <%= render 'users/user_review', review: user_review %>
        <% end %>
      </ol>
      <%= will_paginate @user_reviews %>
    <% end %>
  </div>
</div>
