<%= form_for(@review) do |f| %>
    <%= f.hidden_field :store_id, value: @store.id %>
  <div class="field">
    <%= f.text_area :content, placeholder: "レビューを投稿してみよう..." %>
  </div>
  <%= f.submit '投稿', class: "btn btn-primary" %>
  <span class="image">
    <%= f.file_field :image %>
  </span>
<% end %>
