<li id="review-<%= review.id %>">
  <span class="user"><%= link_to review.store.name, review.store %></span>
  <span class="content">
    <%= review.content %>
    <%= image_tag review.image if review.image.attached? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(review.created_at) %> ago.
  </span>
</li>
